@import url("https://fonts.googleapis.com/css?family=Oi");
.contain {
  overflow-x: hidden;
}
.background {
  background-color: #e0aaff;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.logo {
  flex-shrink: 0;
  /* width: 100%; */
  height: auto;
  z-index: 5;
  position: relative;
  font-weight: 300;
  font-style: normal;
  font-family: "Oi", sans-serif;
  color: #3c096c;
  font-size: 8vw;
  letter-spacing: 0em;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
}
@media screen and (max-width: 610px) {
  .intro {
    /* height: 15vh !important; */
    flex-direction: column !important;
  }
  .introtext1 {
    width: 70vw;
    font-weight: 200;
  }
  .introtext2 {
    width: 70vw;
    font-weight: 200;
    font-size: 20px !important;
  }
  .howtext {
    font-size: 20px !important;
  }
  .readytext {
    font-size: 20px !important;
  }

  .examples {
    display: flex !important;
    flex-direction: column !important;
  }
  .examplecard {
    width: 70vw !important;
  }
  .cardimg {
    width: 70vw !important;
  }
  .cardtext1 {
    width: 70vw !important;
  }
  .cardtext2 {
    width: 70vw !important;
  }
}

.intro {
  background-color: #9d4edd;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* height: 30vh; */
  padding: 5vw;
  gap: 20px;
}

.intros {
  width: 70vw;
}

.introtext1 {
  /* width: 450px; */
  font-weight: 300;
  font-style: normal;
  font-family: "Oi", sans-serif;
  color: #ffffff;
  letter-spacing: 0em;
  line-height: 1.2;
  font-size: 48px;
}

.introtext2 {
  font-weight: 300;
  font-style: normal;
  font-family: "Atkinson Hyperlegible";
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0em;
  line-height: 1.5;
  display: flex;
  gap: 7px;
}
.examplescontainer {
  background-color: #10002b;
  width: 100vw;
  padding: 5vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.examplestext {
  font-weight: 300;
  font-style: normal;
  font-family: "Oi", sans-serif;
  color: #e0aaff;
  font-size: 48px;
  letter-spacing: 0em;
  width: 70vw;
  margin-bottom: 2vw;
}
.examples {
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.examplecard {
  width: 30vw;
}
.cardimg {
  width: 30vw;
  aspect-ratio: 1;
}
.cardtext1 {
  width: 30vw;
  font-weight: 300;
  font-style: normal;
  font-family: "Atkinson Hyperlegible";

  color: #c77dff;
  font-size: 25px;
}
.cardtext2 {
  font-weight: 300;
  font-style: normal;
  font-family: "Atkinson Hyperlegible";

  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.5;
  width: 30vw;
}
.howitworkscont {
  background-color: #10002b;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.howitworks {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* height: 40vh; */
  padding: 5vw 0;
  gap: 30px;
}
.howtitle {
  /* width: 80vw; */
  font-weight: 300;
  font-style: normal;
  font-family: "Oi", sans-serif;
  color: #e0aaff;
  font-size: 48px;
  letter-spacing: 0em;
}
.howtext {
  font-weight: 300;
  font-style: normal;
  font-family: "Atkinson Hyperlegible";
  color: #ffffff;
  font-size: 25px;
}

.ready {
  background-color: #e0aaff;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vw 0;
  /* height: 100vh; */
  gap: 20px;
}
.readytitle {
  width: 70vw;
  font-weight: 300;
  font-style: normal;
  font-family: "Oi", sans-serif;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0em;
  display: flex;
  gap: 10px;
}
.readytext {
  font-weight: 300;
  font-style: normal;
  font-family: "Atkinson Hyperlegible";

  color: #9d4edd;
  font-size: 25px;
  width: 70vw;
  /* text-align: center; */
}

.contacts {
  background-color: #9d4edd;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
.sm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10vh;
  gap: 10px;
}

.pinK {
  color: #e0aaff;
}
.purple {
  color: #3c096c;
}

.smdescription {
  color: #e0aaff;
  background-color: #10002b;
  padding: 2px 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 10;
  margin-bottom: 70px;
  display: none;
}

.donate {
  display: block !important;
  margin-right: 80px;
}

.inst {
  display: block !important;
  margin-right: 5px;
}

.linkedin {
  display: block !important;
  margin-left: 80px;
}
