@import url("https://fonts.googleapis.com/css?family=Oi");

.background {
  background-color: #e0aaff;
  /* width: 100vw; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.logo {
  flex-shrink: 0;
  /* width: 100%; */
  height: auto;
  z-index: 5;
  position: relative;
  font-weight: 400;
  font-style: normal;
  font-family: "Oi", sans-serif;
  color: #3c096c;
  font-size: 8vw;
  letter-spacing: 0em;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
}
@media screen and (max-width: 610px) {
  /* .logo{
    font-size: 80px;
  } */
  .intro {
    /* height: 15vh !important; */
    flex-direction: column !important;
    /* background-color: red  !important; */
  }
  .introtext1 {
    width: 150px;
    font-weight: 200;
    /* font-size: 20px !important; */
    /* background-color: aqua; */
  }
}

/* @media screen and (max-width: 460px) {
  .logo{
    font-size: 60px;
  }
} */

.intro {
  background-color: #9d4edd;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.introtext1 {
  width: 450px;
  font-weight: 400;
  font-style: normal;
  font-family: "Oi", sans-serif;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0em;
  line-height: 1.2;
}

.introtext2 {
  font-weight: 400;
  font-style: normal;
  font-family: "Atkinson Hyperlegible";
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0em;
  line-height: 1.5;
  display: flex;
  gap: 7px;
}
.examplescontainer {
  background-color: #10002b;
  width: 100%;
  padding: 5vw 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.examples {
  width: 90vw;
  display: grid;
  grid-template-columns: 50vw 50vw;
  gap: 20px;
}
.examplecard {
  width: 40vw;
}
.cardimg {
  /* background-color: #ffffff; */
  width: 35vw;
  aspect-ratio: 1;
}
.cardtext1 {
  font-weight: 400;
  font-style: normal;
  font-family: "Atkinson Hyperlegible", "Atkinson Hyperlegible Placeholder",
    sans-serif;
  color: #c77dff;
  font-size: 20px;
}
.cardtext2 {
  font-weight: 400;
  font-style: normal;
  font-family: "Atkinson Hyperlegible", "Atkinson Hyperlegible Placeholder",
    sans-serif;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.5;
  width: 35vw;
}
.howitworkscont {
  background-color: #10002b;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.howitworks {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* height: 40vh; */
  padding: 5vw 0;
  gap: 30px;
}
.howtitle {
  /* width: 80vw; */
  font-weight: 400;
  font-style: normal;
  font-family: "Oi", sans-serif;
  color: #e0aaff;
  font-size: 48px;
  letter-spacing: 0em;
}
.howtext {
  font-weight: 400;
  font-style: normal;
  font-family: "Atkinson Hyperlegible", "Atkinson Hyperlegible Placeholder",
    sans-serif;
  color: #ffffff;
  font-size: 20px;
}

.ready {
  background-color: #e0aaff;
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vw 0;
  /* height: 100vh; */
  gap: 20px;
}
.readytitle {
  width: 80vw;
  font-weight: 300;
  font-style: normal;
  font-family: "Oi", sans-serif;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0em;
  display: flex;
  gap: 10px;
}
.readytext {
  font-weight: 400;
  font-style: normal;
  font-family: "Atkinson Hyperlegible", "Atkinson Hyperlegible Placeholder",
    sans-serif;
  color: #9d4edd;
  font-size: 20px;
  width: 80vw;
  /* text-align: center; */
}

.contacts {
  background-color: #9d4edd;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
}
.sm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20vh;
  gap: 10px;
}

.pinK {
  color: #e0aaff;
}
.purple {
  .smdescriptions {
    display: flex;
    flex-direction: row;
  }
  color: #3c096c;
}

.smdescription {
  color: #e0aaff;
  background-color: #10002b;
  padding: 2px 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 10;
  margin-bottom: 70px;
  display: none;
}

.donate {
  display: block !important;
  margin-right: 80px;
}

.inst {
  display: block !important;
  margin-right: 5px;
}

.linkedin {
  display: block !important;
  margin-left: 80px;
}
