.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: white;
  width: 100%;
}

.card {
  width: 60vw;
  /* background-color: aqua; */
  box-shadow: 0px 0px 100px 2px rgba(34, 60, 80, 0.19);
  border-radius: 40px;
  /* height: 50vh; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  padding: 40px;
  gap: 20px;
  margin: 20px 0;
  background-color: white;
}

@media screen and (max-width: 650px) {
  .card {
    flex-direction: column !important;
    align-items: center !important;
    font-size: 15px !important;
  }

  .image {
    width: 40vw !important;
    height: 40vw !important;
  }
}

.image {
  width: 20vw;
  height: 20vw;
}

.title {
  font-weight: 400;
  font-size: larger;
}
